@font-face {
    font-family: 'barlow';
    src: url('Barlow-Light.woff2') format('woff2'),
         url('Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-LightItalic.woff2') format('woff2'),
         url('Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
         url('Barlow-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-Italic.woff2') format('woff2'),
         url('Barlow-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-Medium.woff2') format('woff2'),
         url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-MediumItalic.woff2') format('woff2'),
         url('Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
         url('Barlow-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-BoldItalic.woff2') format('woff2'),
         url('Barlow-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}